<!DOCTYPE html>
<html>
  <head>
  <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <h1 class='center'>Sticky Notes</h1>
    <hr />
    <div class='row'>
      <div class='col s12 m4'>
        <h3>Add Sticky</h3>
        <form action='/sticky_notes' method='post'>
          <input type='text' name='name' placeholder='Subject' />
          <button class='btn btn-waves' type='submit'>Add</button>
        </form>
    </div>
    <table class='table col m8 s12'>
      <thead>
        <th>Subject</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <% sticky_notes/forEach( function(sticky_notes) { %>
          <% var href='/sticky_notes/delete/' + sticky_notes %>
          <tr>
             <td><%= sticky_note %>
             <td><a href=<%= href %> + <%= sticky_notes %></a>Delete</td>
          </tr>
         <% }); %>
       </tbody>
     </table>
  </body>
</html>